.header{
    padding-bottom: 50px;
}
.header__top{
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  var(--light-grey);
}

.select__main{
    outline: none;
    border: none;
    background-color:  var(--light-grey);
    font-weight: 400;
    font-size: 16px;
    color: var(--prime);

    &:hover{
        color:blue;
    }
}

.select__label{
    font-weight: 400;
    font-size: 16px;
    color: var(--1);
}

.header__social__list{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__top_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__second{
    padding-top: 8px;
    padding-bottom: 8px;
}

.header__second_info_list{
    display: flex;
    align-items: center;
    gap:32px ;
}

.header__second_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__second_logo_block{
    display: flex;
    align-items: center;
    gap: 64px;
}

.header__second__input_form{
    position: relative;
}

.header__second__input{
    border: none;
    width: 220px;
}

.header__second__input{
    font-weight: 400;
    font-size: 16px;
    color: var(--03);
}



.header__second_tel_links{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: var(--1);

    &::before{
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../img/header__second_tel.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: -20%;
        top: -10%;
    }
}

.header__second_search_label::before{
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/header__search.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -15%;
}

.header__second__tel_block{
    display: none;
}

.header__second__input_form{
    display: none;
}

.header__second__tel_links_second{
    display: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--prime);
    white-space: nowrap;
}

.header__second__main_links{
    white-space: nowrap;
    font-weight: 400;
    font-size: 17px;
    color: var(--1);

    &:hover{
        border-bottom: 2px solid blue;
    }
}

.header__second__links_list{
    display: none;
    align-items: center;
    gap: 20px;
}

.header__second__dop_link{
    position: relative;
    border-radius: 8px;
    background-color: #fdefbf;
    padding: 2px 8px 3px 28px;

    &::before{
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(../img/header__links_fire.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 8%;
    }
}


.header__third{
    display: none;
    padding-top: 22px;
    padding-bottom: 22px;
}

.header__third__products_link{
    position: relative;
    border-radius: 16px;
    padding: 16px 16px 16px 52px;
    background-color:  var(--prime);
    font-weight: 400;
    font-size: 20px;
    color: #fff;

    &::before{
        content: "";
        width: 32px;
        height: 32px;
        background-image: url(../img/three_dots.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 7%;
        top: 21%;
    }
}

.header__third__input{
    position: relative;
    border: 1px solid var(--03);
    border-radius: 8px;
    width: 594px;
    font-weight: 400;
    font-size: 20px;
    color: var(--03);
    padding: 16px 60px 16px 56px;

}

.header__third__form{
    position: relative;
}

.header__third__wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__third__dop_links_list{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__third__bag_link{
    position: relative;
    border-radius: 16px;
    padding: 16px 69px 16px 59px;
    background-color:  #52d116;
    font-weight: 400;
    font-size: 20px;
    color: #fff;

    &::before{
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../img/header_bag.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 10%;
    }

    &::after{
        content: "";
        width: 34px;
        height: 32px;
        background-image: url(../img/header__third_bag_link_num.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 72%;
        top: 25%;
    }
}

.header__four_wrapper{
    display: none;
}

.header__four__btn{
    position: relative;
    background-image: url(../img/iphone_14_back.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 20px 59px 20px 66px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;

    &::after{
        content: "";
        width: 32px;
        height: 32px;
        background-image: url(../img/header_right.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 83%;
        top: 25%;
    
    
    }
}




.header__third__search::before{
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../img/header__third_search.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 3%;
    top: 31%;
}

.header__four__prod_links{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 20px;
    color: var(--1);

    &:hover{
        color: var(--prime);
    }
}

.header__four_prod_list{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__four__prod{
    color:#CCCCCC;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover{
        color:var(--prime);
    }
}



@media screen and (min-width:768px) {
    .header__second__info_item{
        display: none;
    }

    .header__second__tel_block{
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header__second_menu_link{
        margin-top: 5px;
    }

    .header__second__tel_block{
        display: inline-block;
    }

    .header__second__input_form{
        display: inline-block;
    }
    
}


@media screen and (min-width:1245px) {
    .header__top{
        display: block;
    }

    .header__second_menu_item{
        display: none;
    }

    .header__second_wrapper{
        gap: 46px;
    }

    .header__second__input_form{
        display: none;
    }

    .header__second__tel_block{
        margin-top: 17px;
    }

    .header__second_logo_link{
        width: 40px;
        height: 40px;
    }

    .header__second__tel_links_second{
        display: inline-block;
    }

    .header__second__links_list{
        display: flex;
    }

    .header__third{
        display: block;
    }

    .header__four_wrapper{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    
    
}

